{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'room/css/room.css' %}">
{% endblock %}

{% block body %}

<div class="combat-room">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h2>Манчкин комната</h2>
                    </div>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            {% if room.player.all %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Мощность</th>
                                        <th scope="col">Участник</th>
                                        <th scope="col"></th>
                                        <th class="text-center" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in room.player.all %}
                                    <tr class="inner-box player" player='{{ player.pk }}'>
                                        <th scope="row">
                                            <div class="player-date" data-toggle="modal" data-target="#playerDataEditModal">
                                                <h2><i class="fa fa-bolt" aria-hidden="true"></i> <span class='total'>{{player.leavel.first.leavel|add:player.power.first.power}}</span></h2>
                                                <p><i class="fa fa-line-chart" aria-hidden="true"></i> <span class='level'>{{player.get_leavel}}</span> / <i
                                                        class="fa fa-gavel" aria-hidden="true"></i> <span class='power'>{{player.get_power}}</span></p>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="player-img player-gender">
                                                {% if player.gender == 'M' %}
                                                <i class="fa fa-mars" aria-hidden="true"></i>
                                                {% elif player.gender == 'F' %}
                                                <i class="fa fa-venus" aria-hidden="true"></i>
                                                {% else %}
                                                <i class="fa fa-tree" aria-hidden="true"></i>
                                                {% endif %}
                                                <img src="{{ player.player.get_photo_url }}"
                                                    alt="Аватар пользователя {{player.player.user}}" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="player-wrap">
                                                <h3><a
                                                        href="{{player.player.get_absolute_url}}" class='player-name'>{{player.player.user}}</a>
                                                </h3>
                                                <div class="meta d-inline-flex">
                                                    <div class="race px-2">
                                                        <i class="fa fa-user" aria-hidden="true"></i>
                                                        {% if player.get_racer %}
                                                        {{ player.get_racer }}
                                                        {% else %}
                                                        Человек
                                                        {% endif %}
                                                    </div>
                                                    {% if player.get_class %}
                                                    <div class="class px-2">
                                                        <div class="btn-group">
                                                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                                                            <a href="#" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                                {{ player.get_class }}
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a class="dropdown-item" href="#">Действие 1</a></li>
                                                                <li><a class="dropdown-item" href="#">Действие 2</a></li>
                                                                <li><a class="dropdown-item" href="#">Действие 3</a></li>
                                                                <li><a class="dropdown-item" href="#">Действие 4</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                    
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="primary-btn">
                                                <a class="btn btn-primary" href="#"><i class="fa fa-bolt"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h5 class='p-5 m-5'>Ожидание игроков</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if True %}
<div class="container" id="timeline-block">
    <div class="row">
        <div class="panel-timeline">
            <div class="timeline">
                <div class="timeline-content">
                    <span class="date">
                        <span class="month">11:45</span>
                        <span class="year">25.12</span>
                    </span>
                    <h2 class="title"><span class="fa fa-chevron-up" aria-hidden="true"></span> Имя становится 7 уровнем
                    </h2>
                    <p class="description">Игрок ИМЯ подрался с монстром и получил +1 уровень</p>
                </div>
            </div>

            <div class="timeline">
                <div class="timeline-content">
                    <span class="date">
                        <span class="month">11:45</span>
                        <span class="year">25.12</span>
                    </span>
                    <h2 class="title"><span class="fa fa-chevron-down"></span> Имя становится 5 уровнем</h2>
                    <p class="description">Игрок ИМЯ проиграл битву с монстром и получил -2 уровня</p>
                </div>
            </div>

            <div class="timeline">
                <div class="timeline-content">
                    <span class="date">
                        <span class="month">11:45</span>
                        <span class="year">25.12</span>
                    </span>
                    <h2 class="title"><span class="fa fa-chevron-down"></span> Имя становится 5 уровнем</h2>
                    <p class="description">Игрок ИМЯ потерял 2 уровня.
                    </p>
                </div>
            </div>

            <div class="timeline">
                <div class="timeline-content">
                    <span class="date">
                        <span class="month">11:45</span>
                        <span class="year">25.12</span>
                    </span>
                    <h2 class="title"><span class="glyphicon glyphicon-heart-empty"></span> Имя сменил класс на Эльф
                    </h2>
                    <p class="description">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- МОДАЛЬНОЕ ОКНО ДЛЯ НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ -->
<div class="modal fade" id="playerDataEditModal" tabindex="-1" role="dialog" aria-labelledby="playerDataEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playerDataEditModalLabel">Контроль уровня и мощности для <span class='name'></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="my-3"><i class="fa fa-bolt" aria-hidden="true"></i> <span class='total'>16</span></h3>
                <div class="row my-3">
                    <div class="col-6">
                        <div class="qty player">
                            <h6>Уровень</h6>
                            <span class="decrease-level minus bg-dark player-data-edit">-</span>
                            <input type="number" class="count level" name="qty" value="1">
                            <span class="increase-level plus bg-dark player-data-edit">+</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="qty player">
                            <h6>Мощность</h6>
                            <span class="decrease-power minus bg-dark player-data-edit">-</span>
                            <input type="number" class="count power" name="qty" value="0">
                            <span class="increase-power plus bg-dark player-data-edit">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock body %}

{% block scripts %}
<script>
    const changeRoomPlayer_URL = "{% url 'ajax_changeRoomPlayer' %}";
    const csrf_token = "{{ csrf_token }}";
    function sendData(obj_dict){
        $.ajax({
            url: changeRoomPlayer_URL,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: csrf_token,
                user_room: obj_dict.player,
                data: JSON.stringify(obj_dict),
            },
            success: function (data) {
                console.log('Okkeeeee')
                {% comment %} gender.removeClass('fa-spinner').addClass(gender_class);
                if (gender_val == 'M'){
                    gender_val = 'он брутальный мужик'
                } else {
                    gender_val = 'она храбрая женщина'
                }
                mkNoti(
                        "Смена пола",
                        "Манчкин " + $player.find('.player-name').text() + " сменил пол, теперь " + gender_val + "!",
                        {status: "info"}
                    ); {% endcomment %}
            }
        });
    }
</script>

<script src="{% static 'room/js/playerDataUpdate.js' %}"></script>
<script src="{% static 'room/js/playerGenderChangingAjax.js' %}"></script>
{% endblock %}