{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block header %}
<link rel="stylesheet" href="{% static 'room/css/room.css' %}">
{% endblock %}

{% block body %}



<div class="combat-room">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h2>Манчкин комната – {{ room.code }} – <a href='{% url "statistics" room.code %}'>Статистика</a> </h2>
                        <img src="{% url 'generate_qr_code' room.code %}" alt="QR Code">
                    </div>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            {% if room.player.all %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">Мощность</th>
                                        <th scope="col">Участник</th>
                                        <th scope="col"></th>
                                        <th class="text-center" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in room.player.all %}
                                    <tr class="inner-box player" player='{{ player.pk }}'>
                                        <th scope="row">
                                            <div class="player-date" data-toggle="modal" data-target="#playerDataEditModal">
                                                <h2><i class="fa fa-bolt" aria-hidden="true"></i> <span class='total' data-player-id-total1="{{ player.pk }}">{{player.leavel.first.leavel|add:player.power.first.power}}</span></h2>
                                                <p><i class="fa fa-line-chart" aria-hidden="true"></i> <span class='level' data-player-id-level="{{ player.pk }}">{{player.get_leavel}}</span>
                                                        <i class="fa fa-gavel" aria-hidden="true"></i> <span class='power' data-player-id-power="{{ player.pk }}">{{player.get_power}}</span></p>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="player-img player-gender" data-player-id-gender="{{ player.pk }}">
                                                {% if player.gender == 'M' %}
                                                <i class="fa fa-mars" gender ="true" aria-hidden="true"></i>
                                                {% elif player.gender == 'F' %}
                                                <i class="fa fa-venus" gender ="true" aria-hidden="true"></i>
                                                {% else %}
                                                <i class="fa fa-tree" gender ="true" aria-hidden="true"></i>
                                                {% endif %}
                                                <img src="{{ player.player.get_photo_url }}"
                                                    alt="Аватар пользователя {{player.player.user}}" />
                                            </div>
                                            <div class="username">
                                                <p>{{ player.player.username }}</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="player-wrap">
                                                <h3><a
                                                        href="{{player.player.get_absolute_url}}" class='player-name'>{{player.player.user}}</a>
                                                </h3>
                                                <div class="meta d-inline-flex">
                                                    <div class="race px-2">
                                                        <div class="d-flex align-items-center">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        <a href="#" class="btn btn-link dropdown-toggle player-race" data-bs-toggle="dropdown" aria-expanded="false" data-player-id="{{ player.pk }}">
                                                            {{ player.get_racer }}
                                                        </a>

                                                        <ul class="dropdown-menu">
                                                            {% for player_race in races %}
                                                                <li><a class="dropdown-item" href="{% url 'update_player_race' player.pk player_race.0 player_race.1 %}">{{ player_race.1 }}</a></li>
                                                            {% endfor %}

                                                        </ul>
                                                    {% comment %} </div> {% endcomment %}
                                                    {% if player.get_class %}
                                                    <div class="class px-2">
                                                        <div class="btn-group">
                                                            <i class="fa fa-gamepad" aria-hidden="true"></i>
                                                        </div>
                                                            <a href="#" class="btn btn-link dropdown-toggle player-class" data-bs-toggle="dropdown" aria-expanded="false"  data-player-id-2="{{ player.pk }}">
                                                                {{ player.get_class }}
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                {% for player_class in classes %}
                                                                    {% comment %} <li><a class="dropdown-item" href="#">{{ player_class.0 }}</a></li> {% endcomment %}
                                                                    <li><a class="dropdown-item" href="{% url 'update_player_class' player.pk player_class.0 player_class.1 %}">{{ player_class.1 }}</a></li>
                                                                {% endfor %}

                                                            </ul>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="primary-btn">
                                                <a class="btn btn-primary" href="#"><i class="fa fa-bolt"
                                                        aria-hidden="true"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h5 class='p-5 m-5'>Ожидание игроков</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if True %}
<div class="container" id="timeline-block">
    <div class="row">
        <div class="panel-timeline">
            {% with player_items=room|get_room_levels %}
                {% for item in player_items|dictsort:"create" reversed %}
                    {% if item|get_item_type == 'PlayerLeavel' %}
                        <div class="timeline">
                                        <div class="timeline-content">
                                            <span class="date">
                                                <span class="month">{{ item.create.time }}</span>
                                                <span class="year">{{ item.create.date|date:"d.m" }}</span>
                                            </span>
                                            <h2 class="title" style="background: #02a2dd;"><span class="fa fa-chevron-up" aria-hidden="true"></span> {{ item.player.player.username }} теперь {{ item.leavel }} уровня
                                            </h2>
                                            <p class="description">Игрок {{ item.player.player.username }} изменил уровень </p>
                                        </div>
                                    </div>
                    {% elif item|get_item_type == 'PlayerPower' %}
                        <div class="timeline">
                                        <div class="timeline-content">
                                            <span class="date">
                                                <span class="month">{{ item.create.time }}</span>
                                                <span class="year">{{ item.create.date|date:"d.m"  }}</span>
                                            </span>
                                            <h2 class="title" style="background: #9f84c4;"><span class="fa fa-chevron-up" aria-hidden="true"></span> {{ item.player.player.username }} теперь {{ item.power }} мощности
                                            </h2>
                                            <p class="description">Игрок {{ item.player.player.username }} изменил мощность</p>
                                        </div>
                                    </div>
                    {% elif item|get_item_type == 'PlayerClass' %}
                        <div class="timeline">
                                        <div class="timeline-content">
                                            <span class="date">
                                                <span class="month">{{ item.create.time }}</span>
                                                <span class="year">{{ item.create.date|date:"d.m"  }}</span>
                                            </span>
                                            <h2 class="title" style="background: #58b25e;"><span class="fa fa-chevron-up" aria-hidden="true"></span> {{ item.player.player.username }} теперь класса {{ item.get_value_display }}
                                            </h2>
                                            <p class="description">Игрок {{ item.player.player.username }} изменил класс</p>
                                        </div>
                                    </div>
                    {% elif item|get_item_type == 'PlayerRace' %}
                        <div class="timeline">
                                        <div class="timeline-content">
                                            <span class="date">
                                                <span class="month">{{ item.create.time }}</span>
                                                <span class="year">{{ item.create.date|date:"d.m"  }}</span>
                                            </span>
                                            <h2 class="title" style="background: #eab715;"><span class="fa fa-chevron-up" aria-hidden="true"></span> {{ item.player.player.username }} теперь расы {{ item.get_value_display }}
                                            </h2>
                                            <p class="description">Игрок {{ item.player.player.username }} изменил расу</p>
                                        </div>
                                    </div>
                    {% endif %}
                {% endfor %}
            {% endwith %}

        </div>
    </div>
</div>
{% endif %}

<!-- МОДАЛЬНОЕ ОКНО ДЛЯ НАСТРОЙКИ ПОЛЬЗОВАТЕЛЯ -->
<div class="modal fade" id="playerDataEditModal" tabindex="-1" role="dialog" aria-labelledby="playerDataEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="playerDataEditModalLabel">Контроль уровня и мощности для <span class='name'></span></h5>
                {% comment %} <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endcomment %}
            </div>
            <div class="modal-body">
                <h3 class="my-3"><i class="fa fa-bolt" aria-hidden="true"></i> <span class='total'>16</span></h3>
                <div class="row my-3">
                    <div class="col-6">
                        <div class="qty player">
                            <h6>Уровень</h6>
                            <span class="decrease-level minus bg-dark player-data-edit">-</span>
                            <input type="number" class="count level" name="qty" value="1">
                            <span class="increase-level plus bg-dark player-data-edit">+</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="qty player">
                            <h6>Мощность</h6>
                            <span class="decrease-power minus bg-dark player-data-edit">-</span>
                            <input type="number" class="count power" name="qty" value="0">
                            <span class="increase-power plus bg-dark player-data-edit">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock body %}

{% block scripts %}
<script>
    const changeRoomPlayer_URL = "{% url 'ajax_changeRoomPlayer' %}";
    const csrf_token = "{{ csrf_token }}";
    function sendData(obj_dict){
        $.ajax({
            url: changeRoomPlayer_URL,
            type: 'POST',
            data: {
                csrfmiddlewaretoken: csrf_token,
                user_room: obj_dict.player,
                data: JSON.stringify(obj_dict),
            },
            success: function (data) {
                console.log('Okkeeeee')
                {% comment %} gender.removeClass('fa-spinner').addClass(gender_class);
                if (gender_val == 'M'){
                    gender_val = 'он брутальный мужик'
                } else {
                    gender_val = 'она храбрая женщина'
                }
                mkNoti(
                        "Смена пола",
                        "Манчкин " + $player.find('.player-name').text() + " сменил пол, теперь " + gender_val + "!",
                        {status: "info"}
                    ); {% endcomment %}
            }
        });
    }
</script>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/ws/race/';
    var raceSocket = new WebSocket(ws_url);

    raceSocket.onmessage = function(event) {


        var data = JSON.parse(event.data);
        var playerRaceElement = document.querySelector(`[data-player-id="${data.playerId}"]`);
        if (playerRaceElement) {
            playerRaceElement.textContent = data.race;
        }


        // Создаем новый блок таймлайна
        var newTimelineBlock = document.createElement('div');
        newTimelineBlock.classList.add('timeline');
        var newTimelineContent = document.createElement('div');
        newTimelineContent.classList.add('timeline-content');
        var dateElement = document.createElement('span');
        dateElement.classList.add('date');
        var monthElement = document.createElement('span');
        monthElement.classList.add('month');
        monthElement.textContent = data.time;
        var yearElement = document.createElement('span');
        yearElement.classList.add('year');
        yearElement.textContent = data.date;
        dateElement.appendChild(monthElement);
        dateElement.appendChild(yearElement);
        var titleElement = document.createElement('h2');
        titleElement.classList.add('title');
        titleElement.style.background = '#eab715';
        titleElement.innerHTML = '<span class="fa fa-chevron-up" aria-hidden="true"></span> ' + data.username + ' теперь расы ' + data.race;
        var descriptionElement = document.createElement('p');
        descriptionElement.classList.add('description');
        descriptionElement.textContent = 'Игрок ' + data.username + ' изменил расу';
        newTimelineContent.appendChild(dateElement);
        newTimelineContent.appendChild(titleElement);
        newTimelineContent.appendChild(descriptionElement);
        newTimelineBlock.appendChild(newTimelineContent);
        // Добавляем новый блок таймлайна к контейнеру таймлайнов
        var timelineContainer = document.getElementsByClassName("panel-timeline")[0];
        timelineContainer.prepend(newTimelineBlock);

        // Уведомление о новом событии
        mkNoti(
            descriptionElement.textContent,
            "Манчкин " + data.username + " сменил рассу, теперь он стал " + data.race + "!",
            {status: "info"}
        );
    };

</script>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/ws/class/';
    var classSocket = new WebSocket(ws_url);

    classSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);
        var playerClassElement = document.querySelector(`[data-player-id-2="${data.playerId}"]`);
        if (playerClassElement) {
            playerClassElement.textContent = data.class;
        }

        var newTimelineBlock = document.createElement('div');
        newTimelineBlock.classList.add('timeline');
        var newTimelineContent = document.createElement('div');
        newTimelineContent.classList.add('timeline-content');
        var dateElement = document.createElement('span');
        dateElement.classList.add('date');
        var monthElement = document.createElement('span');
        monthElement.classList.add('month');
        monthElement.textContent = data.time;
        var yearElement = document.createElement('span');
        yearElement.classList.add('year');
        yearElement.textContent = data.date;
        dateElement.appendChild(monthElement);
        dateElement.appendChild(yearElement);
        var titleElement = document.createElement('h2');
        titleElement.classList.add('title');
        titleElement.style.background = '#58b25e';
        titleElement.innerHTML = '<span class="fa fa-chevron-up" aria-hidden="true"></span> ' + data.username + ' теперь класса ' + data.class;
        var descriptionElement = document.createElement('p');
        descriptionElement.classList.add('description');
        descriptionElement.textContent = 'Игрок ' + data.username + ' изменил класс';
        newTimelineContent.appendChild(dateElement);
        newTimelineContent.appendChild(titleElement);
        newTimelineContent.appendChild(descriptionElement);
        newTimelineBlock.appendChild(newTimelineContent);
        // Добавляем новый блок таймлайна к контейнеру таймлайнов
        var timelineContainer = document.getElementsByClassName("panel-timeline")[0];
        timelineContainer.prepend(newTimelineBlock);

        // Уведомление о новом событии
        mkNoti(
            descriptionElement.textContent,
            "Манчкин " + data.username + " сменил класс, теперь он стал " + data.class + "!",
            {status: "info"}
        );

    };
</script>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/ws/level/';
    var levelSocket = new WebSocket(ws_url);

    levelSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);

            // Найти элемент с нужным игроком
        var playerElement = document.querySelector(`[data-player-id-level="${data.playerId}"]`);
        var playerTotal = document.querySelector(`[data-player-id-total1="${data.playerId}"]`);

        if (playerElement) {
            playerElement.textContent = data.level;
        }

        if (playerTotal) {
            playerTotal.textContent = parseInt(data.level) + parseInt(data.power);
        }

        var newTimelineBlock = document.createElement('div');
        newTimelineBlock.classList.add('timeline');
        var newTimelineContent = document.createElement('div');
        newTimelineContent.classList.add('timeline-content');
        var dateElement = document.createElement('span');
        dateElement.classList.add('date');
        var monthElement = document.createElement('span');
        monthElement.classList.add('month');
        monthElement.textContent = data.time;
        var yearElement = document.createElement('span');
        yearElement.classList.add('year');
        yearElement.textContent = data.date;
        dateElement.appendChild(monthElement);
        dateElement.appendChild(yearElement);
        var titleElement = document.createElement('h2');
        titleElement.classList.add('title');
        titleElement.style.background = '#02a2dd';
        titleElement.innerHTML = '<span class="fa fa-chevron-up" aria-hidden="true"></span> ' + data.username + ' теперь ' + data.level + ' уровня';
        var descriptionElement = document.createElement('p');
        descriptionElement.classList.add('description');
        descriptionElement.textContent = 'Игрок ' + data.username + ' изменил уровень';
        newTimelineContent.appendChild(dateElement);
        newTimelineContent.appendChild(titleElement);
        newTimelineContent.appendChild(descriptionElement);
        newTimelineBlock.appendChild(newTimelineContent);
        // Добавляем новый блок таймлайна к контейнеру таймлайнов
        var timelineContainer = document.getElementsByClassName("panel-timeline")[0];
        timelineContainer.prepend(newTimelineBlock);

        // Уведомление о новом событии
        mkNoti(
            descriptionElement.textContent,
            "Манчкин " + data.username + " сменил уровень, теперь он стал " + data.level + "!",
            {status: "info"}
        );

    };
</script>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/ws/power/';
    var powerSocket = new WebSocket(ws_url);

    powerSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);

            // Найти элемент с нужным игроком
        var playerPowerElement = document.querySelector(`[data-player-id-power="${data.playerId}"]`);
        var playerTotal = document.querySelector(`[data-player-id-total1="${data.playerId}"]`);

        if (playerPowerElement) {
            playerPowerElement.textContent = data.power;
        }

        if (playerTotal) {
            playerTotal.textContent = parseInt(data.level) + parseInt(data.power);
        }

        var newTimelineBlock = document.createElement('div');
        newTimelineBlock.classList.add('timeline');
        var newTimelineContent = document.createElement('div');
        newTimelineContent.classList.add('timeline-content');
        var dateElement = document.createElement('span');
        dateElement.classList.add('date');
        var monthElement = document.createElement('span');
        monthElement.classList.add('month');
        monthElement.textContent = data.time;
        var yearElement = document.createElement('span');
        yearElement.classList.add('year');
        yearElement.textContent = data.date;
        dateElement.appendChild(yearElement);
        dateElement.appendChild(monthElement);
        var titleElement = document.createElement('h2');
        titleElement.classList.add('title');
        titleElement.style.background = '#9f84c4';
        titleElement.innerHTML = '<span class="fa fa-chevron-up" aria-hidden="true"></span> ' + data.username + ' теперь ' + data.power + ' мощности';
        var descriptionElement = document.createElement('p');
        descriptionElement.classList.add('description');
        descriptionElement.textContent = 'Игрок ' + data.username + ' изменил мощность';
        newTimelineContent.appendChild(dateElement);
        newTimelineContent.appendChild(titleElement);
        newTimelineContent.appendChild(descriptionElement);
        newTimelineBlock.appendChild(newTimelineContent);
        // Добавляем новый блок таймлайна к контейнеру таймлайнов
        var timelineContainer = document.getElementsByClassName("panel-timeline")[0];
        timelineContainer.prepend(newTimelineBlock);

        // Уведомление о новом событии
        mkNoti(
            descriptionElement.textContent,
            "Манчкин " + data.username + " сменил мощность, теперь он стал " + data.power + "!",
            {status: "info"}
        );

    };
</script>


<script language="javascript">
    var ws_url = 'ws://' + window.location.host + '/ws/gender/';
    var gendersSocket = new WebSocket(ws_url);

    gendersSocket.onmessage = function(event) {
        var data = JSON.parse(event.data);

        // Найдем элемент с помощью атрибута data-player-id
        var playerElement = document.querySelector(`[data-player-id-gender="${data.playerId}"]`);

        // Найдем элемент иконки гендера
        var genderIcon = playerElement.querySelector(`[gender='true']`);

        // Обновим иконку гендера в зависимости от полученного гендера
        if (data.gender === 'M') {
            genderIcon.classList.add('fa-mars');
            genderIcon.classList.remove('fa-venus', 'fa-tree');
        } else if (data.gender === 'F') {
            genderIcon.classList.add('fa-venus');
            genderIcon.classList.remove('fa-mars', 'fa-tree');
        } else {
            genderIcon.classList.add('fa-tree');
            genderIcon.classList.remove('fa-mars', 'fa-venus');
        }

        // Уведомление о новом событии
        mkNoti(
            "Смена пола",
            "Манчкин " + data.username + " сменил пол, теперь его пол " + data.gender_display + "!",
            {status: "info"}
        );

    };
</script>


<script>
    $(document).ready(function(){
        $('.dropdown-item').click(function(e){
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('Данные успешно отправлены на сервер');
                },
                error: function(error) {
                    console.error('Ошибка отправки данных на сервер');
                }
            });
        });
    });
    </script>



<script src="{% static 'room/js/playerDataUpdate.js' %}"></script>
<script src="{% static 'room/js/playerGenderChangingAjax.js' %}"></script>

{% endblock %}
