<div style="height: 400px; width: 600px;">
  <canvas id="line-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- кигроки комнаты, их уровни и мощь -->

<script>
  const ctx = document.getElementById('myChart');

	new Chart(document.getElementById("line-chart"), {
	  type: 'line',
	  data: {
	    labels: [1,2,3,4,5,6,7,8,9, 10],
	    datasets: [{ 
	        data: [1, 2, 3, 2, 4, 6, 4],
	        label: "CrazyPlayer",
	        borderColor: "#3e95cd",
	        fill: false
	      }, { 
	        data: [1, 3, 4, 3, 5, 6, 7],
	        label: "Gamer1703",
	        borderColor: "#8e5ea2",
	        fill: false
	      }, { 
	        data: [1, 2, 1, 3, 4, 5, 3],
	        label: "Destroyer",
	        borderColor: "#3cba9f",
	        fill: false
	      }, { 
	        data: [1, 3, 5, 7, 9, 8, 6],
	        label: "Spooky800",
	        borderColor: "#e8c3b9",
	        fill: false
	      }, { 
	        data: [1, 2, 5, 7, 5, 3, 1],
	        label: "Anonymus1",
	        borderColor: "#c45850",
	        fill: false
	      }
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'World population per region (in millions)'
	    },
	    responsive: true,
    	maintainAspectRatio: false
	  }
	});

</script>

